#mapid { 
    width: 400px;
    height: 400px;
}

.col-sw
{
    padding: 20px;
}

.col-sm{
    border-style: double;
    border-radius: 2px;
    margin: 2px;
    background-color: bisque;
    align-items: center;
    padding: 2px;
}

button{
    margin: auto;
    margin-top: 10px;
    position: relative;
    display: block;
    padding: 2px;
    
}